<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcAcgyvgWsB643U1pyzRTXOupRLnqm7Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>508999367878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectpamodziv04</string>
	<key>PROJECT_ID</key>
	<string>connectpamodziv04</string>
	<key>STORAGE_BUCKET</key>
	<string>connectpamodziv04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508999367878:ios:6a92b36f608c7ae2ce2bc7</string>
</dict>
</plist>